-r requirements-package.in
pip-tools
ipdb
coverage
coverage[toml]
pytest
pytest-cov
pytest-flake8
pytest-black
pytest-isort
pytest-mypy
pytest-asyncio
hypothesis
sphinx
sphinx-autoapi
sphinx_rtd_theme
types-PyYAML
types-python-dateutil
pyinstaller
sqlparse
sqlparams
pillow
pyodbc
psycopg2