-r requirements-package.in
pip-tools
ipdb
coverage
coverage[toml]
pytest
pytest-cov
pytest-flake8
pytest-black
pytest-isort
pytest-mypy
pytest-asyncio
hypothesis
sphinx
sphinx-autoapi
types-PyYAML
pyinstaller
pyside6
